<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Criar um novo balão</h1>
      <div id="form-balloon">
        <%= render 'form_balloon' %>
      </div>
    </div>
    <div class="col-md-6">
      <div id="chatbox">
        <%= render 'shared/preview' %>
      </div>
    </div>
  </div>
</div>
