<div id="modal-balloon" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Balão criado com sucesso!</h4>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Adicionar outro balão</button>
        <%= link_to "Finalizar post", new_edition_post_path(@edition), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Criar um novo balão</h1>
      <div id="form-balloon">
        <%= render 'form_balloon' %>
      </div>
    </div>
    <div class="col-md-5">
      <div id="chatbox">

      </div>
    </div>
  </div>
</div>
