<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-1">Greeting GIF</button>
  <div class="modal" id="modal-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Busque um GIF</h3>
        </div>
        <div class="modal-body">

          <form action="" method="GET" data-remote="true">
              <input type="text" id="gif_search" name="gif_search" class="search-input-rounded greenBackground" value="<%params[:gif_search]%>">
              <button id="gif-search" type="submit" class="btn btn-primary"> Search for GIFs </button>
          </form>
          <div class="giphys">
          </div>
        </div>

        <div class="modal-footer">
          <a href="" class="btn btn-primary" data-dismiss="modal">Choose Gif</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal" id="modal-2">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Busque um GIF</h3>
        </div>
        <div class="modal-body">

          <form action="" method="GET" data-remote="true">
              <input type="text" id="gif_search" name="gif_search" class="search-input-rounded" value="<%params[:gif_search]%>">
              <button id="gif-search" type="submit" class="btn btn-primary"> Search for GIFs </button>
          </form>
          <div class="giphys">
          </div>
        </div>

        <div class="modal-footer">
          <a href="" class="btn btn-primary" data-dismiss="modal">Choose Gif</a>
        </div>
      </div>
    </div>
  </div>
