

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Criar uma nova edição</h1>
      <%= render 'form_edition' %>
    </div>
    <div class="col-md-5">
      <%= render 'shared/preview' %>
    </div>
  </div>
</div>


