<div id="edition-modal", class="hidden">

  <form action="<% new_edition_path %>" method="GET">
    <input type="text" id="gif_search" name="gif_search" class="search-input-rounded" value="<%params[:gif_search]%>">
    <button type="submit" class="btn btn-primary"> Search for GIFs </button>
  </form>

  <% Giphy.search( params[:gif_search], {limit: 6}).each do |giphy| %>

    <%= image_tag giphy.fixed_width_downsampled_image.url.to_s %>
  <% end %>

</div>

<div class="container">
<h1>espaço para eu poder ver a busca dos gifs</h1>

  <div class="row">
    <div class="col-md-6">
      <h1>Criar uma nova edição</h1>
      <%= render 'form_edition' %>
    </div>

     <div class="col-md-5">
      <%= render 'shared/preview' %>
    </div>
  </div>
</div>



