// Specific CSS for your home-page

.color-wrapper {
  background-color: #FFFFFF;
}

.home-vertical {
  .h2 {
    font-style: "cursive";
  }
}

.color-h1-p {
  color: white;

}

.slide-right {
  // height: 700px;
  background-size: cover;
  background: white;

}

.slide-left {
  // height: 700px;
  background-size: cover;

  .h1 {
    font-size: 72px;
  }

  .p {
    margin: 20px 20px 20px 20px;
  }
}

.h2 {
  font-size: 20px;
}

.btn-position {
  background: white;
}

.btn-navbar {
  margin-top: 2%;
  margin-bottom: 2%;;
  color: rgb(119, 119, 119);
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #ccc;
  cursor: pointer;
}

.btn-navbar:hover {
  background-color: #A8A8A8;
}

.btn-warning {

}

.class-p {
   font-size: 15px;
}

.banner {
  color: white;
  text-align: center;
  height: 85vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  text-shadow: 1px 1px #F4F4F4;
  font-family:  "Montserrat";
}
.banner p {
  font-size: 54px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-shadow: 3px 7px #333333;
}

// === ScrollSpy ===
.dots {
  width: 22px;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 20px;
  z-index: 2;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px #999 solid;
  }

  .active .dot {
    background-color: black;
    border-color: black;
  }
  .nav li a {
    background-color: transparent;
  }
}

.home-vertical {
  height: 70vh;

  img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slide-right, .slide-left {
    height: 100%;
  }
}

.banner-color {
  background: #B53C0;
}

.banner-content {
  height: 1px;
}

.vertical-align {
    position: relative;
}

.vertical-align > div {
    position: absolute;
    top: 50%;
}

article {
  line-height:2;
  background-image:linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px);
  background-size: 100% 2em;
  background-position:0 1.4em;
  background-origin:content-box;
  padding:50px;

  font-style:italic;
  font-size: 18px;

}


.allora-size {
  font-size: 20px;
  margin-top: 45px;
  .p {
    margin: 38px 0 12.5px;
  }

}

.allora {

  .p {
    height: 100px;
  }
}

.card {
  height: 250px;
//  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.slick-prev:before, .slick-next:before {
  color: black;
}
