// Specific CSS for your home-page

.color-wrapper {
  background-color: #FFFFFF;
}

.home-vertical {
  .h2 {
    font-style: "cursive";
  }
}

.color-h1-p {
  color: white;

}

.slide-right {
  height: 700px;
  background-size: cover;
  background: white;
}

.slide-left {
  height: 700px;
  background-size: cover;

  .h1 {
    font-size: 72px;
  }
}

.btn-position {
  background: white;
}

.btn-navbar {
  margin-top: 2%;
  margin-bottom: 2%;;
  color: rgb(119, 119, 119);
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #ccc;
  cursor: pointer;
}

.btn-navbar:hover {
  background-color: #A8A8A8;
}

.btn-warning {

  top:50%;
  left:29%;
}

.class-p {
   font-size: 2px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 3px #333333;
  font-family: 'Droid Serif', serif;
}
.banner p {
  font-size: 54px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-shadow: 3px 7px #333333;
}

// === ScrollSpy ===
.dots {
  width: 22px;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 20px;
  z-index: 2;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px #999 solid;
  }

  .active .dot {
    background-color: black;
    border-color: black;
  }
  .nav li a {
    background-color: transparent;
  }
}

.home-vertical {
  height: 100vh;
}

.banner-color {
  background: #B53C0;
}

.banner-content {
  height: 1px;
}

.vertical-align {
    position: relative;
}

.vertical-align > div {
    position: absolute;
    top: 50%;
}

