// Import page-specific CSS files here.
@import "home";
@import "show";
@import "landing_user";

.box-height {
  height: -webkit-fill-available;
}

.index-title {
  height: 100px;
  padding: 25px;
  margin-bottom: 85px;

}

.index-filter {
  height: 200px;
}
