#banner_edition {

    width: 100%;
    background-size: cover;
}

.user-page {
  background-color: rgba(255,200,55,0.6);
  height: calc(100vh - 103px);
}
.user-content {
  font-family: $montserrat;
  background-color: white;
}



