#banner_edition {

    width: 100%;
    background-size: cover;
}

.user-page {
  background-color: $light-gray;
  height: calc(100vh - 95px);
  padding-top: 10px;
  margin-left: 30px;
}
.user-content {
  font-family: $montserrat;
  background-color: white;
}



