#app {
  height: calc(100vh - 103px);
  width: 100%;
  // padding: 20px 100px 20px 100px;
  overflow-y: scroll;
}

// #chat {
//   flex: 1;
//   width: 100%;
//   padding: 20px;
//   display: flex;
//   align-items: flex-end;
//   flex-direction: column;
// }

// #init {
//   height: calc(100vh - 140px);
//   width: 100%;
//   display: flex;
//   align-items: flex-end;
//   justify-content: center;

//   a {
//     text-decoration: none;
//     color: white;
//   }
// }

.new-click-more {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.new-click-next {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
  text-decoration: none; // Tá funcionando?
}

.btn-margin {
  // margin: 20px 0; // Antiga versão
  margin-top: 50px;
  margin-bottom: 25px;
}


// Não tá sendo usada em nenhum lugar
// .pic-border {
//   border-radius: 0 20px 20px 20px;
// }

.left {
  position: relative;
  left: 700px;
}

.balloon {
  background: white;
  // max-width: 90%;
  border-radius: 0 20px 20px 20px;
  padding: 10px 20px;
  line-height: 125%;
  text-decoration: none;

  &-image {
    background: white;
    border-radius: 0 20px 20px 20px;
    padding: 5px;
    margin-bottom: 12px;
  }

  &-right {
    background: #FFC837;
    color: white;
    border-radius: 20px 0 20px 20px;
    padding: 10px 15px;
    margin: 5px 0;
  }
}
