
body  {
  background-color: white;
#zero {
  font-size: 14px;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
  background-color: white;
  }
  .home {
  margin-top: 60px;
  font-size: 14px;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
  background-color: #E5E9ED;
  }
}



.grayscale {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.body-index-user {
  background-color: white;
  min-height: 87vh;
}

.ll-side {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rr-side {
  // height: calc(100vh - 50px);
  // background: $light-gray;
  background: #ddd;
  // display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
}

