
body  {
  background-color: white;
#zero {
  font-size: 14px;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
  background-color: white;
  }
  .home {
  margin-top: 60px;
  font-size: 14px;
  font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
  background-color: #E5E9ED;
  }
}



.grayscale {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.body-index-user {
  background-color: white;
  min-height: 87vh;

}


