.btn-post {
  padding: 10px;
  background-color: $middle-grey;
  color: white;
}

.edition-content {
  font-family: $montserrat;
  background: #7C7F94;
  color: white;
  font-weight: bold;

}

.btn-post:hover {
  background-color: #FF8008;
  color: white;
}
